<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Restaurant</ion-title>

    <ion-buttons slot="end">
      <ion-button [disabled]="!isReadyToSave" (click)="save()" color="primary">
        @if (platform.is('ios')) {
          <span>{{ 'DONE_BUTTON' | translate }}</span>
        } @else {
          <ion-icon name="checkmark"></ion-icon>
        }
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  @if (form) {
    <form name="form" [formGroup]="form" (ngSubmit)="save()">
      <ion-list>
        <ion-item [hidden]="!form.id">
          <ion-label>ID</ion-label>
          <ion-input type="hidden" id="id" formControlName="id" readonly></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Name</ion-label>
          <ion-input type="text" name="name" formControlName="name"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Slug</ion-label>
          <ion-input type="text" name="slug" formControlName="slug"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Description</ion-label>
          <ion-input type="text" name="description" formControlName="description"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Address</ion-label>
          <ion-input type="text" name="address" formControlName="address"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Phone</ion-label>
          <ion-input type="text" name="phone" formControlName="phone"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="text" name="email" formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Active</ion-label>
          <ion-checkbox formControlName="active"></ion-checkbox>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Logo Url</ion-label>
          <ion-input type="text" name="logoUrl" formControlName="logoUrl"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label>Created Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="createdDate" id="field_createdDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Last Modified Date</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY HH:mm" formControlName="lastModifiedDate" id="field_lastModifiedDate"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label>Tenant</ion-label>
          <ion-select id="field_tenant" formControlName="tenantId" [compareWith]="compareTenant" required>
            @if (!form.value.tenantId) {
              <ion-select-option [value]="null" selected></ion-select-option>
            }
            @for (tenantOption of tenants; track trackTenantById($index, tenantOption)) {
              <ion-select-option [value]="tenantOption.id">{{ tenantOption.name }}</ion-select-option>
            }
          </ion-select>
        </ion-item>
        <div [hidden]="!(form.controls.?.dirty && form.controls.?.invalid)">
          <small [hidden]="!form.controls.?.errors?.required"> This field is required. </small>
        </div>
      </ion-list>
    </form>
  }
</ion-content>
